.main {
  height: 200vh;
  line-height: 1.8;
  background: $main-background;

  &__container {
    width: 84%;
    max-width: 1000px;
    margin: 0 auto 50px;

    @include mq("pc") {
      padding-top: 80px;
    }

    @include mq("sp") {
      padding-top: 30px;
    }

    &__title {
      display: flex;
      align-items: baseline;

      @include mq("pc") {
        margin-bottom: 80px;
      }

      @include mq("sp") {
        margin-bottom: 30px;
      }

      &--ja {

        &::before {
          margin-right: 6px;
          content: '−';
        }
      }

      &--en {
        margin-right: 16px;
      }

      @include mq("pc") {

        &--en {
          font-size: 28px;
        }

        &--ja {
          font-size: 16px;
        }
      }

      @include mq("sp") {

        &--en {
          font-size: 22px;
        }

        &--ja {
          font-size: 12px;
        }
      }
    }

    &__content {
      display: block;
    }
  }

  .profile {

    &__content {
      display: flex;
      align-items: center;

      @include mq("pc") {
        flex-direction: row;
        justify-content: space-between;
      }

      @include mq("sp") {
        flex-direction: column;
      }
    }

    &__image {
      border-radius: 50%;

      @include mq("pc") {
        width: 24vw;
        max-width: 240px;
        height: 24vw;
        max-height: 240px;
      }

      @include mq("sp") {
        max-width: 200px;
        margin-bottom: 20px;
      }
    }

    &__list {
      @include mq("pc") {
        width: 70vw;
        max-width: 700px;
      }

      @include mq("sp") {
        width: 100%;
      }

      &__item {
        display: flex;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        &__icon {
          width: auto;
          width: 24px;
          height: 26px;
          margin-right: 14px;

          @include mq("pc") {
            width: 24px;
            height: 26px;
          }

          @include mq("sp") {
            width: 20px;
            height: 22px;
          }
        }

        &__text {
          @include mq("pc") {
            font-size: 16px;
          }

          @include mq("sp") {
            font-size: 14px;
          }
        }
      }
    }
  }

  .skills {

    &__container {
      display: block;
    }

    &__category {
      display: block;
    }

    &__list {

      &__item {
        display: inline-block;
        padding: 2px 8px;
        margin: 2px;
        font-size: 12px;
        color: $white;
        background: blue;
        border-radius: 8px;
      }
    }
  }
}
