.main {
  height: 200vh;
  padding: 30px 0;
  line-height: 1.8;
  background: $super-light-gray;

  &__container {
    width: 84%;
    max-width: 1000px;
    margin: 0 auto 50px;
    border-radius: 6px;

    &__title {
      display: flex;
      align-items: baseline;
      margin-bottom: 40px;

      &--ja {

        &::before {
          margin-right: 6px;
          content: '−';
        }
      }

      &--en {
        margin-right: 16px;
      }

      @include mq("pc") {

        &--en {
          font-size: 28px;
        }

        &--ja {
          font-size: 16px;
        }
      }

      @include mq("sp") {

        &--en {
          font-size: 22px;
        }

        &--ja {
          font-size: 12px;
        }
      }
    }

    &__content {
      display: block;
    }
  }

  .profile {

    &__content {
      display: flex;
      align-items: center;

      @include mq("pc") {
        flex-direction: row;
        justify-content: space-between;
      }

      @include mq("sp") {
        flex-direction: column;
      }
    }

    &__image {
      border-radius: 50%;

      @include mq("pc") {
        width: 24vw;
        max-width: 240px;
        height: 24vw;
        max-height: 240px;
      }

      @include mq("sp") {
        max-width: 200px;
      }
    }

    &__list {
      @include mq("pc") {
        width: 70vw;
        max-width: 700px;
      }

      @include mq("sp") {
        width: 100%;
      }

      &__item {
        font-size: 16px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &__icon {
        width: 50px;
        height: 50px;
        border: 1px solid black;
      }
    }
  }
}
